tr 
	td 도서명
	td
		input.form-control(type="text" name="bookName" value=`${rs && rs.bookName ? rs.bookName : '' }` placeholder="도서명")
tr 
	td 저자
	td
		input.form-control(type="text" name="writer" value=`${rs && rs.writer ? rs.writer : '' }` placeholder="저자")
tr 
	td 도서내용
	td
		input.form-control(type="text" name="content" value=`${rs && rs.content ? rs.content : '' }` placeholder="도서내용")